doctype html
html(lang="en")
  include ./head.jade
  body
    include ./nav.jade
    .container-fluid
      .row
        .header.col-md12.text-center
          h1 Derry African Market


    .container
      .row
        .service-title.col-lg-12.text-center
          h2 Who Are We?
          hr.primary
      .row
        .col-md-12
            p.text-muted Derry African Market is a small business that supports the community in many ways. We are a grocery store as well as repair store! 
            br
            p.text-muted We repair any mobile devices, computers, and tablets. Most of our repair and installations are done the same day. If we need to keep your device, we will let you know promptly when it will be available for pick-up. We are very sensitive to the value you put on your data!
            br
            p.text-muted We also cater exquisite Kenyan food! We pride ourselves on providing a fresh experience in catering.Our classically trained chef is continuously using her culinary imagination and inventing new delicious dishes. In addition to unique event catering services we offer a healthy, distinctive and affordable range of 'ready meals', a wide range of home made cakes, biscuits, preserves. We are dedicated to using the best ingredients, developing personalised menus and offering outstanding service. Contact Us to discuss an upcoming event you may be planning.
      .row
        .service-title.col-lg-12.text-center
          h2 Team
          hr.primary
      .row
        .col-md-4.col-sm-6.text-center
          .thumbnail
            img(src="img/person-1.jpg").img-responsive.img-circle
            .caption
              h3 Peter Mwaniki
        .col-md-4.col-sm-6.text-center
          .thumbnail
            img(src="img/person-2.PNG").img-responsive.img-circle
            .caption
              h3 Mary and Teresia
        .col-md-4.col-sm-6.text-center
          .thumbnail
            img(src="img/person-3.PNG").img-responsive.img-circle
            .caption
              h3 Jane Mwanigi

    include ./footer.jade   