doctype html
html(lang="en")
	include ./head.jade

	body
		h1 Jade - node template engine
		#container.col

		include ./footer.jade
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")

