doctype html
html(lang="en")
  include ./head.jade
  body
    include ./nav.jade
    .container-fluid
      .row
        .header.col-md12.text-center
          h1 Great Products and Food!


    .container
      .row
        .service-title.col-lg-12.text-center
          h2 Our Products
          hr.primary
      .row
        .col-lg-4.col-md-6.text-center
          .service-box
            i.fa.fa-4x.fa-wrench.wow.bounceIn.service-text
            h3 Repairs
            p.text-muted AfriTech specializes in repairing all kinds of computers.
        .col-lg-4.col-md-6.text-center
          .service-box
            i.fa.fa-4x.fa-cogs.wow.bounceIn.service-text(data-wow-delay='.1s')
            h3 Hardware
            p.text-muted Save money on refurbished computers and parts from Afritech.
        .col-lg-4.col-md-12.text-center
          .service-box
            i.fa.fa-4x.fa-laptop.wow.bounceIn.service-text(data-wow-delay='.2s')
            h3 Software
            p.text-muted We update update your software to keep things running smoothly.

    include ./footer.jade    